@model StartGrow.Models.Proyecto

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProyectoId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinInversion" class="control-label"></label>
                <input asp-for="MinInversion" class="form-control" />
                <span asp-validation-for="MinInversion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plazo" class="control-label"></label>
                <input asp-for="Plazo" class="form-control" />
                <span asp-validation-for="Plazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interes" class="control-label"></label>
                <input asp-for="Interes" class="form-control" />
                <span asp-validation-for="Interes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progreso" class="control-label"></label>
                <input asp-for="Progreso" class="form-control" />
                <span asp-validation-for="Progreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumInversores" class="control-label"></label>
                <input asp-for="NumInversores" class="form-control" />
                <span asp-validation-for="NumInversores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaExpiracion" class="control-label"></label>
                <input asp-for="FechaExpiracion" class="form-control" />
                <span asp-validation-for="FechaExpiracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
