@model StartGrow.Models.Inversion
@{
    ViewData["Title"] = "Create";
}

<head>
    <style>
        .areas {
            position: absolute;
            top: 150px;
            left: 100px;
        }

        .areas2 {
            position: absolute;
            top: 170px;
            left: 100px;
        }

        .rating {
            position: absolute;
            top: 600px;
            left: 100px;
        }

        .rating2 {
            position: absolute;
            top: 620px;
            left: 100px;
        }

        .tiposInversiones {
            position: absolute;
            top: 740px;
            left: 100px;
        }

        .tiposInversiones2 {
            position: absolute;
            top: 760px;
            left: 100px;
        }

        .InvMinima {
            position: absolute;
            top: 860px;
            left: 100px;
        }

        .InvMinima2 {
            position: absolute;
            top: 880px;
            left: 100px;
        }

        .interes {
            position: absolute;
            top: 960px;
            left: 100px;
        }

        .interes2 {
            position: absolute;
            top: 980px;
            left: 100px;
        }

        .plazo {
            position: absolute;
            top: 1060px;
            left: 100px;
        }

        .plazo2 {
            position: absolute;
            top: 1080px;
            left: 100px;
        }

        .botonFiltro {
            position: absolute;
            float: right;
            top: 1180px;
            left: 100px;
        }

        .botonSave {
            position: absolute;
            float: right;
            top: 1060px;
            left: 100px;
        }

        table.GeneratedTable {
            left: 1000px;
            background-color: white;
            text-align: left;
            border-collapse: collapse;
            width: 100%;
        }

            table.GeneratedTable th, td {
                padding: 20px;
            }

            table.GeneratedTable thead {
                background-color: #246355;
                border-bottom: solid 5px #0F362D;
                color: white;
            }

            table.GeneratedTable tr:nth-child(even) {
                background-color: #ddd;
            }

            table.GeneratedTable tr:hover td {
                background-color: #369681;
                color: white;
            }
    </style>
</head>

<h2>Invertir</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProyectoId" class="control-label"></label>
                <select asp-for="ProyectoId" class ="form-control" asp-items="ViewBag.ProyectoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class ="form-control" asp-items="ViewBag.ApplicationUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoInversionesId" class="control-label"></label>
                <select asp-for="TipoInversionesId" class ="form-control" asp-items="ViewBag.TipoInversionesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cuota" class="control-label"></label>
                <input asp-for="Cuota" class="form-control" />
                <span asp-validation-for="Cuota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intereses" class="control-label"></label>
                <input asp-for="Intereses" class="form-control" />
                <span asp-validation-for="Intereses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
