@page
@model StartGrow.Models.InversionRecuperadaViewModels.SelectInversionForRecuperarInversionViewModel;

@{
    //Para mostrar el título de la página
    ViewData["Title"] = "Seleccionar Inversión";

    <h2>Inversiones a Recuperar</h2>
    <form asp-controller = "Inversiones Recuperadas" class="from-horizontal" asp-action 
          = "SelectInversionForRecuperarInversion" method="get">
        <p>
            <div>
                <label asp-for="Id de la inversión"></label>
                <input asp-for="Id de la inversión" size="50"/>
                <span asp-validation-for="Id de la inversión" class="text-danger"></span>

                <label asp-for="Área de la inversión"></label>
                <select asp-for="Área de la inversión" asp-items="Model.Area">
                    <option value="">All</option>
                </select>
                <input type="submit" value="Filtrar"
            </div>
        </p>
    </form>
}
